<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!--Redis配置-->
		<add key="SiteUrl" value="http://localhost:2554"/>
	</appSettings>
	<configSections>
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
	</configSections>
	<!--<appSettings>
    <add key="DormManagement" value="Data Source=HY\SQLEXPRESS01;Initial Catalog=DormManagement;Persist Security Info=True;User ID=sa;Password=123456" />
  </appSettings>-->
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
			<provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.9.12.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"></provider>
		</providers>
	</entityFramework>
	<connectionStrings>
		<add name="DormManagement" connectionString="Data Source=DESKTOP-HVQDJT5\SQLEXPRESS01;Initial Catalog=DormManagement;Persist Security Info=True;User ID=sa;Password=123456" providerName="System.Data.SqlClient"/>
		<!--<add name="DormManagement" connectionString="Data Source=localhost;port=3306;Initial Catalog=DormManagement;user id=root;password=123456;" providerName="MySql.Data.MySqlClient" />-->
	</connectionStrings>
	<system.data>
		<DbProviderFactories>
			<remove invariant="MySql.Data.MySqlClient"/>
			<add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.12.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
		</DbProviderFactories>
	</system.data>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
	</startup>
</configuration>
